In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('product.xlsx', engine='openpyxl', index_col=0)
df

,Itemid,Name,Price,Historical sold,Image,like_count,stock,Rating,Total Rating,Rating 1,Rating 2,Rating 3,Rating 4,Rating 5,Scategory_product
0,19764098275,iphone 6 6s 7 8 plus iphone 7 8 se2020 mềm h...,33000,12051,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,2284,106398,4.79,3387,56,22,77,266,2966,iphone
1,23009116310,tpu mềm hoạt hình cho iphone 6 6s 6 7 8 plus ...,35000,1564,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,322,116527,4.85,440,7,1,6,25,401,iphone
2,22502996244,oppo a15 oppo a15s tpu dẻo chống rơi vỡ in h...,35000,1785,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,424,9329,4.77,593,11,6,11,52,513,oppo
3,14690051722,oppo reno6 z 5g oppo reno 6z silicone mềm ch...,36800,378,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,67,4388,4.59,93,5,0,5,8,75,oppo
4,20258791919,oppo a9 2020 oppo a5 2020 silicon tpu mềm ch...,35000,1791,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,347,9575,4.81,545,6,2,12,50,475,oppo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,10599413547,xiaomi 11i 5g tpu dẻo trong suốt in chữ tiến...,35000,0,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,0,60000,0.00,0,0,0,0,0,0,xiaomi
1103,10598927369,redmi note 10 5g poco m3 pro 5g tpu mềm chốn...,35000,2,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,0,59998,0.00,0,0,0,0,0,0,redmi
1104,10099249657,tpu họa tiết chú gấu và dâu tây dễ thương cho...,35000,1,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,1,249999,0.00,0,0,0,0,0,0,iphone
1105,22246421610,oppo reno 5 oppo reno 6 oppo reno 8 pro 5g m...,50000,0,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,0,120000,0.00,0,0,0,0,0,0,oppo
1106,21981213064,oppo a5s oppo a12 oppo a7 oppo f9 màu hồng h...,50000,0,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBg...,0,120000,0.00,0,0,0,0,0,0,oppo

In [3]:
df.columns

Index(['Itemid', 'Name', 'Price', 'Historical sold', 'Image', 'like_count',
       'stock', 'Rating', 'Total Rating', 'Rating 1', 'Rating 2', 'Rating 3',
       'Rating 4', 'Rating 5', 'Scategory_product'],
      dtype='object')

In [4]:
df1 = df.drop(['Itemid','Image'], axis=1)
df1.head(3)

,Name,Price,Historical sold,like_count,stock,Rating,Total Rating,Rating 1,Rating 2,Rating 3,Rating 4,Rating 5,Scategory_product
0,iphone 6 6s 7 8 plus iphone 7 8 se2020 mềm h...,33000,12051,2284,106398,4.79,3387,56,22,77,266,2966,iphone
1,tpu mềm hoạt hình cho iphone 6 6s 6 7 8 plus ...,35000,1564,322,116527,4.85,440,7,1,6,25,401,iphone
2,oppo a15 oppo a15s tpu dẻo chống rơi vỡ in h...,35000,1785,424,9329,4.77,593,11,6,11,52,513,oppo

In [5]:
df1['revenue'] = df1['Price'] * df1['Historical sold']
df1.head(3)

,Name,Price,Historical sold,like_count,stock,Rating,Total Rating,Rating 1,Rating 2,Rating 3,Rating 4,Rating 5,Scategory_product,revenue
0,iphone 6 6s 7 8 plus iphone 7 8 se2020 mềm h...,33000,12051,2284,106398,4.79,3387,56,22,77,266,2966,iphone,397683000
1,tpu mềm hoạt hình cho iphone 6 6s 6 7 8 plus ...,35000,1564,322,116527,4.85,440,7,1,6,25,401,iphone,54740000
2,oppo a15 oppo a15s tpu dẻo chống rơi vỡ in h...,35000,1785,424,9329,4.77,593,11,6,11,52,513,oppo,62475000

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df_lb = le.fit_transform(df1['Name'])
df_lb

array([ 33, 786, 142, ..., 785, 520, 322])

In [7]:
dummies = pd.get_dummies(df1['Scategory_product'],dtype='int')
dummies

      huawei  iphone  oppo  phụ kiện  realme  redmi  samsung  vivo  xiaomi
0          0       1     0         0       0      0        0     0       0
1          0       1     0         0       0      0        0     0       0
2          0       0     1         0       0      0        0     0       0
3          0       0     1         0       0      0        0     0       0
4          0       0     1         0       0      0        0     0       0
...      ...     ...   ...       ...     ...    ...      ...   ...     ...
1102       0       0     0         0       0      0        0     0       1
1103       0       0     0         0       0      1        0     0       0
1104       0       1     0         0       0      0        0     0       0
1105       0       0     1         0       0      0        0     0       0
1106       0       0     1         0       0      0        0     0       0

[1107 rows x 9 columns]

In [8]:
df_concat = pd.concat([dummies, df1,df_lb], axis=1)
df_concat.head(3)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [ ]:
df_concat = df_concat.drop(['huawei','Scategory_product','Name'], axis=1)
df_concat.head(3)